.category__wrapper{
display: grid;
gap: 20px;
grid-template-columns: repeat(4, 1fr);
margin-top: 40px;

@media (max-width: 700px){
    grid-template-columns: 1fr;
    
}
 
}



.category{
    padding: 50px 0;
    
}


.category__card{
    color: black;
    text-decoration: none;
}

