.btn {
  width: 100%;
  max-width: 230px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 62px;
  background: transparent;
  text-align: center;
  margin: 20px auto;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 0 0 black;
          box-shadow: 3px 3px 0 0 black;
}
.btn:hover {
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
}